In [2]:
from justwatch import JustWatch
import requests
import pandas as pd
import ast
import json
from tqdm import tqdm
import time

#### Get list of providers

In [140]:
url = "https://api.themoviedb.org/3/watch/providers/movie?watch_region=US"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxMzRmMzM1NDI2M2VjNDI2M2ViMjlhMjExOTJjYmFhZSIsInN1YiI6IjY1ZDgwZjQzOTQ0YTU3MDE3YzIzZGRmOSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.0F7r9RkO-9gnf3avlEZqi_eMeVasw7EvHRvhKxovfdU"
}

response = requests.get(url, headers=headers)
data = json.loads(response.text)

# Extract provider_ids
provider_ids = [result["provider_id"] for result in data["results"]]

print(provider_ids)

[8, 9, 337, 350, 2, 15, 283, 257, 384, 1899, 1825, 583, 1968, 386, 387, 464, 10, 3, 192, 531, 1770, 1853, 1855, 1854, 1852, 582, 584, 528, 269, 207, 632, 633, 634, 635, 203, 526, 636, 188, 235, 212, 83, 7, 332, 43, 37, 258, 209, 177, 123, 73, 243, 191, 68, 279, 309, 12, 358, 80, 25, 190, 34, 211, 155, 157, 99, 87, 185, 143, 241, 100, 151, 11, 175, 248, 251, 268, 218, 255, 260, 262, 276, 275, 278, 293, 284, 288, 289, 290, 294, 291, 295, 521, 300, 430, 457, 454, 455, 446, 445, 444, 439, 433, 438, 204, 201, 197, 196, 199, 202, 322, 331, 343, 344, 352, 361, 363, 355, 397, 368, 417, 432, 506, 514, 471, 473, 475, 486, 503, 507, 508, 529, 538, 1945, 546, 551, 554, 559, 562, 536, 567, 569, 575, 315, 581, 585, 613, 638, 640, 677, 692, 532, 701, 688, 1759, 1771, 1793, 1794, 1796, 1811, 1832, 76, 1875, 1948, 1956, 1957, 1958, 1960, 1963, 1964, 1715, 1971, 1972, 1976, 597, 1860, 1990, 2032, 2033, 2034, 2036, 2045, 2046, 2049, 675, 2050, 2044, 2055, 2058, 2059, 2060, 2061, 2040, 2042, 2056, 2057, 2073, 2071, 2078, 2089, 579]

#### For each provider, extract all movies

In [152]:
def generate_dates(year):
    return (f"{year}-01-01", f"{year}-12-31")

main_df = pd.DataFrame()

for provider in tqdm(provider_ids):
    for year in range(1874, 2025):
        dates = generate_dates(year)
        url = "https://api.themoviedb.org/3/discover/movie"
        
        querystring = {
            "with_watch_providers": provider,
            "watch_region": "US",
            "sort_by": "popularity.desc",
            "primary_release_date.gte": dates[0],
            "primary_release_date.lte": dates[1],
            "page": 1
        }
        
        headers = {
            "accept": "application/json",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxMzRmMzM1NDI2M2VjNDI2M2ViMjlhMjExOTJjYmFhZSIsInN1YiI6IjY1ZDgwZjQzOTQ0YTU3MDE3YzIzZGRmOSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.0F7r9RkO-9gnf3avlEZqi_eMeVasw7EvHRvhKxovfdU"
        }
        
        response = requests.request("GET", url, headers=headers, params=querystring)
        data = json.loads(response.text)
        
        try:
            num_pages = data['total_pages']
        except:
            continue
    
        movie_ids = []
    
        for i in range(1, num_pages + 1):
            url = "https://api.themoviedb.org/3/discover/movie"
            
            querystring = {
                "with_watch_providers": provider,
                "watch_region": "US",
                "sort_by": "popularity.desc",
                "primary_release_date.gte": dates[0],
                "primary_release_date.lte": dates[1],
                "page": i
            }
            
            headers = {
                "accept": "application/json",
                "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxMzRmMzM1NDI2M2VjNDI2M2ViMjlhMjExOTJjYmFhZSIsInN1YiI6IjY1ZDgwZjQzOTQ0YTU3MDE3YzIzZGRmOSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.0F7r9RkO-9gnf3avlEZqi_eMeVasw7EvHRvhKxovfdU"
            }
            
            response = requests.request("GET", url, headers=headers, params=querystring)
            data = json.loads(response.text)
            curr_ids = [result["id"] for result in data["results"]]
            movie_ids += curr_ids
    
            time.sleep(0.04)

        if (len(movie_ids) > 0):
            df = pd.DataFrame(movie_ids)
            df['platform_id'] = provider
            df = df.rename({0:'id'}, axis='columns')
            df = df[['platform_id', 'id']]
        
            main_df = pd.concat([main_df, df], ignore_index=True)

100%|██████████| 200/200 [5:20:49<00:00, 96.25s/it]

In [154]:
main_df.to_csv('platforms_movies.csv')

#### For each movie ID, get the type of streaming available in each platform

In [80]:
main_df = pd.read_csv('platforms_movies.csv')
main_df = main_df.drop(['Unnamed: 0'], axis='columns')
all_ids = main_df['id'].unique()
all_ids

array([  10911,  316821,  205077, ..., 1007685, 1030564,  854202])

In [83]:
rows = []
errors = {}
for movie_id in tqdm(all_ids):
    try:
        data = "connection aborted"
        url = f"https://api.themoviedb.org/3/movie/{movie_id}/watch/providers"
        
        headers = {
            "accept": "application/json",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxMzRmMzM1NDI2M2VjNDI2M2ViMjlhMjExOTJjYmFhZSIsInN1YiI6IjY1ZDgwZjQzOTQ0YTU3MDE3YzIzZGRmOSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.0F7r9RkO-9gnf3avlEZqi_eMeVasw7EvHRvhKxovfdU"
        }
        
        response = requests.get(url, headers=headers)
        data = json.loads(response.text)
    
        if (len(data['results']) > 0):
            # Ads
            ads = data['results']['US'].get('ads', [])
            for result in ads:
                rows.append({"movie_id": movie_id, "provider_id": result["provider_id"], "type": "Ads"})
    
            # Free
            free = data['results']['US'].get('free', [])
            for result in free:
                rows.append({"movie_id": movie_id, "provider_id": result["provider_id"], "type": "Free"})
            
            # Buy
            buy = data['results']['US'].get('buy', [])
            for result in buy:
                rows.append({"movie_id": movie_id, "provider_id": result["provider_id"], "type": "Buy"})
            
            # Rent
            rent = data['results']['US'].get('rent', [])
            for result in rent:
                rows.append({"movie_id": movie_id, "provider_id": result["provider_id"], "type": "Rent"})
            
            # Flatrate
            flatrate = data['results']['US'].get('flatrate', [])
            for result in flatrate:
                rows.append({"movie_id": movie_id, "provider_id": result["provider_id"], "type": "Flatrate"})
    except:
        errors[movie_id] = data
        continue


    time.sleep(0.02)
    
df = pd.DataFrame(rows, columns=["movie_id", "provider_id", "type"])
df

100%|██████████| 126625/126625 [6:07:28<00:00,  5.74it/s]

        movie_id  provider_id  type
0          10911            2   Buy
1          10911           10   Buy
2          10911            3   Buy
3          10911          192   Buy
4          10911            7   Buy
...          ...          ...   ...
759885    962451          191  Free
759886    961198          191  Free
759887    932536          191  Free
759888    927945          191  Free
759889    810354          191  Free

[759890 rows x 3 columns]

#### Second pass

In [106]:
imp_errors = []
for id in errors:
    if (errors[id] == "connection aborted"):
        imp_errors.append(id)
    elif (errors[id].get('results', None) == None):
        imp_errors.append(id)
    elif(errors[id]['results'].get('US', None) == None):
        continue
    else:
        imp_errors.append(id)

In [108]:
rows = []
errors = {}
for movie_id in tqdm(imp_errors):
    try:
        data = "connection aborted"
        url = f"https://api.themoviedb.org/3/movie/{movie_id}/watch/providers"
        
        headers = {
            "accept": "application/json",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxMzRmMzM1NDI2M2VjNDI2M2ViMjlhMjExOTJjYmFhZSIsInN1YiI6IjY1ZDgwZjQzOTQ0YTU3MDE3YzIzZGRmOSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.0F7r9RkO-9gnf3avlEZqi_eMeVasw7EvHRvhKxovfdU"
        }
        
        response = requests.get(url, headers=headers)
        data = json.loads(response.text)
    
        if (len(data['results']) > 0):
            # Ads
            ads = data['results']['US'].get('ads', [])
            for result in ads:
                rows.append({"movie_id": movie_id, "provider_id": result["provider_id"], "type": "Ads"})
    
            # Free
            free = data['results']['US'].get('free', [])
            for result in free:
                rows.append({"movie_id": movie_id, "provider_id": result["provider_id"], "type": "Free"})
            
            # Buy
            buy = data['results']['US'].get('buy', [])
            for result in buy:
                rows.append({"movie_id": movie_id, "provider_id": result["provider_id"], "type": "Buy"})
            
            # Rent
            rent = data['results']['US'].get('rent', [])
            for result in rent:
                rows.append({"movie_id": movie_id, "provider_id": result["provider_id"], "type": "Rent"})
            
            # Flatrate
            flatrate = data['results']['US'].get('flatrate', [])
            for result in flatrate:
                rows.append({"movie_id": movie_id, "provider_id": result["provider_id"], "type": "Flatrate"})
    except:
        errors[movie_id] = data
        continue


    time.sleep(0.02)
    
df_2 = pd.DataFrame(rows, columns=["movie_id", "provider_id", "type"])
df_2

100%|██████████| 17945/17945 [1:14:24<00:00,  4.02it/s]

       movie_id  provider_id      type
0        713322          191      Free
1        636357          191      Free
2        507372          191      Free
3        469393          191      Free
4        464368          191      Free
...         ...          ...       ...
26269    846800          579  Flatrate
26270   1065532          579  Flatrate
26271   1007685          579  Flatrate
26272   1030564          579  Flatrate
26273    854202          579  Flatrate

[26274 rows x 3 columns]

In [111]:
df = pd.concat([df, df_2], ignore_index=True)
df

        movie_id  provider_id      type
0          10911            2       Buy
1          10911           10       Buy
2          10911            3       Buy
3          10911          192       Buy
4          10911            7       Buy
...          ...          ...       ...
786159    846800          579  Flatrate
786160   1065532          579  Flatrate
786161   1007685          579  Flatrate
786162   1030564          579  Flatrate
786163    854202          579  Flatrate

[786164 rows x 3 columns]

In [113]:
df.to_csv('platform_movie_type.csv')

#### Get each provider's information

In [165]:
url = "https://api.themoviedb.org/3/watch/providers/movie?watch_region=US"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxMzRmMzM1NDI2M2VjNDI2M2ViMjlhMjExOTJjYmFhZSIsInN1YiI6IjY1ZDgwZjQzOTQ0YTU3MDE3YzIzZGRmOSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.0F7r9RkO-9gnf3avlEZqi_eMeVasw7EvHRvhKxovfdU"
}

response = requests.get(url, headers=headers)
data = json.loads(response.text)

extracted_data = []

# Iterate over each entry in the data list
for entry in data['results']:
    provider_id = entry["provider_id"]
    provider_name = entry["provider_name"]
    logo_path = entry["logo_path"]
    us_display_priority = entry["display_priorities"].get("US", None)
    
    # Append extracted data as a tuple
    extracted_data.append((provider_id, provider_name, logo_path, us_display_priority))

# Construct DataFrame from extracted data
df = pd.DataFrame(extracted_data, columns=["provider_id", "provider_name", "logo_path", "US_display_priority"])

In [167]:
df.to_csv('providers.csv')